* {
  font-family: "Ropa Sans", sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

header > div {
  align-items: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

header p {
  font-size: 20px;
  color: #aaaaaa;
  margin: 0;
}

.logo {
  width: 230px;
  align-items: center;
  gap: 5px;
  display: flex;
}

.logo h1 {
  color: #777777;
  margin: 0;
  font-size: 75px;
  font-weight: normal;
  align-items: center;
}

.menu {
  /* background-color: aqua; */
  display: flex;
  gap: 30px;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #aaaaaa;
}
