<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/estilo.css">
     </head>
  <body>
    <header>
      <div class="nav-menu">
        <h1>LOVT</h1>
        <p>You love, your loft!</p>
        <a target="_blank" href="http://www.digitalhouse.com">Home</a>
        <a href="">Localização</a>
        <a href="">Contato</a>
      </div>
    </header>
    <main>
      <div class ="slides">
      <img class ="fotos-slides" src="/public/img/slide-1.png">
      <img class ="botoes-slides" src="/public\img\arrow-right.svg">
      <img class ="botoes-slides" src="/public\img\arrow-left.svg">
      </div>
      <br>
      <div class ="banners">
        <img src="" alt="">
      </div>

   
          
      
    </main>

    <footer></footer>
  </body>
</html>
