<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lovt</title>
    <link rel="stylesheet" href="/css/estilo.css">
     </head>
  <body>
    <header>
      <div id="nav" class="nav-links">
        <img id="logo" src="public\img\logo.svg" alt="Logo">
        <p>You love, <br> your loft!</p>
        <a href="">Home</a>
        <a href="">Localização</a>
        <a href="">Contato</a>
      </div>
    </header>
    <main>
    <div class="slides">
      <img class="fotos-slides" src="/public/img/slide-1.png" alt="fotos">
      <div class="botoes-slides">
      <img  src="/public\img\arrow-right.svg" alt="arrow-right">
      <img  src="/public\img\arrow-left.svg" alt="arrow-left">
    </div>
      <div class="banners"> 
        <img src="/public/img/foto-project-1.png" alt="banner1">
        <h1>1,200</h1>
        <button>New</button>
          <p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est.
            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. 
            Casamentiss faiz malandris se pirulitá. Cevadis im ampola pa</p>
            <img src="\public\img\foto-project-2.png" alt="banner2">
        <h1>$2,000</h1>
        <button>Sale</button>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est.
          Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. 
          Casamentiss faiz malandris se pirulitá. Cevadis im ampola pa</p> 
        <div class="your-style">
          <div class="categorias">
            <h2>Industrial</h2>
            <img src="/public\img\industrial.png" alt="Industrial">
            <h2>Modern</h2>
            <img src="/public\img\moderno.png" alt="Modern">
            <h2>Classic</h2>
            <img src="/public\img\classico.png" alt="Classic">
            <div class="Contact">
              <h2>Contact</h2>
              <form>
                <input 
                type="text"
                id="Nome"
                name="nome"
                placeholder="Nome"/>
              <br>
                <input type="text"
                type="text"
                id="E-mail"
                name="E-mail"
                placeholder="E-mail"/>
              <br>
                <input type="text"
                  type="text"
                  id="Telefone"
                  name="Telefone"
                  placeholder="Telefone"
                  />
                  <br>
                  <button>Enviar</button>
              </form>
            </div>
          </div>
        </div>
    </main>
    <footer>
      <div class="localização"></div>
      <img src="\public\img\image 1.svg" alt="Localização">
      <p>LOVT - You love, your loft!

        Broad St,
        Newark, NJ 07102 - USA
        
        +1 (973) 854-555-548
        
        contact@lovtrealstate.com</p> 
        
        <h4>OUR SOCIAL MEDIAS</h4>
        <img src="C:\Users\Raphael\Desktop\lovt.projeto\Lovt\public\img\instagram.svg" alt="Instagram">
        <img src="C:\Users\Raphael\Desktop\lovt.projeto\Lovt\public\img\facebook.svg" alt="facebook">
        <img src="C:\Users\Raphael\Desktop\lovt.projeto\Lovt\public\img\whatsapp.svg" alt="Whatsapp">
    </footer>
  </body>
</html>
