<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
      }
      h1 {
        margin: 0;
        padding: 0;
        background-color: brown;
      }

      nav a:first-child {
        color: red;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header style="background: yellow">
      <div>
        <h1>LOVT</h1>
        <p>You love, your loft!</p>
      </div>
      <nav>
        <a target="_blank" href="http://www.digitalhouse.com">Home</a>
        <a href="">Localização</a>
        <a href=""><em>Contato</em></a>
      </nav>
    </header>

    <main>
      <a href="http:/www.uol.com.br">UOL</a>
    </main>

    <footer></footer>
  </body>
</html>
